# Ignore node modules (big folder with dependencies)
node_modules/

# Ignore environment variables file with secrets (like DB passwords)
.env

# Ignore logs
logs
*.log
npm-debug.log*

# OS-specific files
.DS_Store
Thumbs.db

# Editor/IDE folders
.vscode/
.idea/
